* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app-container {
  padding: 20px 10px 50px 10px;
  max-width: 1024px;
  min-height: 650px;
  margin: 0px auto;
}

.content {
  margin-top: 20px;
  padding-left: 30px;
}

.text {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #f0f2f5;
  font-size: 14px;
}

.icon {
  padding-left: 10px;
  font-size: 14px;
  color: #65676b;
}

.icon-container {
  display: flex;
  margin-top: 3px;
  width: 70vw;
}

span {
  cursor: pointer;
}

h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.reply-form {
  display: flex;
  gap: 3px;
  margin-top: 10px;
}

.button-reply-form {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.input-reply-form {
  padding: 5px;
  outline: none;
}
